<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ChordHandler" verb="GET" type="Chord.Web.ChordHandler, Chord.Web" path="*"/>
    </handlers>
  </system.webServer>
  
</configuration>